.h1 {
    font-size: 24px;
    line-height: 1;
    margin: 0;
    font-weight: bold;
}
.h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 18px;

}
.p {
    font-size: 14px;
}
.p-small {
    font-size: 12px;
    color: #B0B0B0;
}
.p-small--position-centre {
    text-align: center;
}
@media (min-width: 1060px) {
    .h1 {
        font-size: 26px;
    }
    .h3 {
        font-size: 20px;
        line-height: 24px;
    }
    .p {
        font-size: 16px;
    }
}
@media (min-width: 1280px) {
    .h1 {
       font-size: 48px;
    }
    .h3 {
        font-size: 32px;
        line-height: 36px;
    }  
    .p {
        font-size: 16px;
    } 
}