.dialog {
    margin-top: 20px;
}
.dialog__wrapper {
    width: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
}
.dialog__chat {
    display: flex;
    flex-direction: column;
    width: 340px;
    row-gap: 7px;
}
.dialog__message {
    width: 240px;
    padding: 12px 12px 4px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    
}
.dialog__message-right {
    background-color: #dcf8c6;
    margin-left: auto;    
}
.dialog__message-left {
    background-color: #f3f4f6;
}
.dialog__message-time {
    align-self: flex-end;
    width: 100%;
    text-align: right;
}
@media (min-width: 768px) {
    .dialog__wrapper {
        margin: 0 auto;
    }
}
@media (min-width: 1280px) {
    .dialog__wrapper {
       width: 450px;
    }
    .dialog__chat {
        width: 450px;
    }
}