.logo {
    font-weight: 800;
    text-decoration: none;
    font-size: 20px;
    color: rgba(87, 217, 0, 1);
    font-family:  'Segoe UI', 'Arial', sans-serif;
}
.logo--footer {
    margin: 20px 0 10px;
}
@media (min-width: 1060px) {
    .logo--footer {
        margin: 20px 0 55px;
    }
}
@media (min-width: 1280px) {
    .logo {
        font-size: 30px;
    }
}
