.page-not-found {
    margin-top: 329px;
    display: flex;
    flex-direction: column;
}
.page-not-found__title {
    font-size: 80px;
    font-weight: 400;
    line-height: 97px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin: 0 0 10px;
}
.page-not-found__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin: 0 auto 284px;
}
.page-not-found__link {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-decoration: none;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}
.page-not-found__link:hover {
    cursor: pointer;
}


@media (min-width: 768px) {
    .page-not-found {
        margin-top: 408px;
    }
    .page-not-found__title {
        font-size: 140px;
        line-height: 170px;
        font-weight: 400;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        margin: 0 0 5px;
    }
    .page-not-found__description {
        font-size: 16px;
        margin-bottom: 184px;
    }
    .page-not-found__link {
        font-size: 14px;
        line-height: 17px;
    }
}
@media (min-width: 1280px) {
    .page-not-found {
        margin-top: 246px;
    }
}